@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.work-sans-quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  marquee {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  


/* shared styles */
.bg-c1{
    background-color: orange ;
}
.bg-c2{
    background-color: skyblue ;
}
.bg-c3{
    background-color: chocolate;
}
.bg-c4{
    background-color: crimson;
}
.bg-c5{
    background-color: orchid;
}
.bg-i{
    background-image: url('../bg.png');
}
.bg{
    background-image: linear-gradient(to bottom, white, white, white, orange);
}
.btn-p{
    background-color: #FF900E;
    color: white;
    padding: 10px 60px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
}
.btn-b{
    background-color: #0e0e0e;
    color: white;
    padding: 10px 60px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
}
.btn{
    justify-content: center;
    align-items: center;
    margin:60px calc(50% - 100px);
}
.c1{
    color: orange;
}
.c2{
    color: skyblue;
}
.c3{
    color: rgba(5, 212, 223, 1);
}
.c4{
    color: rgba(93, 88, 239, 1);
}
.c5{
    color: white;
}
.d{
    display: flex;
    justify-content: space-around;
}
.h, .h1{
    display: none;
}

.link{
    text-decoration: none;
    font-weight: 500;
}


/* nav styles */
.title{
    font-size: 1.5rem;
    margin-left: 11px;
}
.nav-item , .f-item{
    list-style: none;
    margin-right: 30px;
}


/* banner styles */
.banner{
    align-items: center;
}
.banner-c{
    margin: 120px;
    margin-right: 400px;
}
.banner-t{
    font-weight: 700;
    font-size: 2.5rem;
}
.banner-img{
    width: 100%;
    border-radius: 8px;
}
 



/* curri styles */
.curriculum{
    margin: 120px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.curriculum h3{
    font-size: 2.8rem;
}
.crds{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.crd{
    border: 2px solid gainsboro;
    border-radius: 8px;
    width: 240px;
    height: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.crd-d{
    text-overflow: ellipsis;
}
.grad-1 {
    background-image: linear-gradient(to bottom, #ffebcc, white, white, #ffffff);
  }
.grad-2 {
    background-image: linear-gradient(to bottom,#e8f6ff,  white, white, #ffffff);
  }
.grad-3 {
    background-image: linear-gradient(to bottom, #f5e8ff, white, white, #ffffff);
}
.ar{
    display: flex;
    margin: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.r-a{
    background-color: #FF900E;
    border-radius: 50%;
}
.l-a{
    background-color: #FF900E;
    border-radius: 50%;
}


/* stories styles */
.sis{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.s{
    border: 2px solid gainsboro;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.s-1{
    grid-row: span 2;
    grid-column: span 2;
}
/* .s-2, .s-3, .s-4, .s-5{
    margin: 50px;
} */
#btn-s{
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    margin-right: -100px;
    margin-top: -100px;
    border-radius: 50px;
}
.s-i{
    width: 100%;
    height: 75%;
    border-radius: 10px;
}
.stories h3{
    font-size: 2.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}




/* footer style */
footer{
    background-color: rgba(1, 172, 253, 1);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
}   
.f-t{
    margin: 200px 100px;
}
.f-t div, .f-icons{
    display: flex;
    gap: 10px;
}
.f-img{
    width: 20%;
    height: 20%;
}
.f-l{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* responsive for small size */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-c, .n-bar{
        text-align: center;
        margin: auto;
    }
    .nav-links,.btn-p, .title{
        display: none;
    }
    .h{
        display: block;
    }
    .n-bar{
        display: flex;
        justify-content: space-between;
        margin: 16px 20px;
    }
    .crds{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto  16.5px ;
        justify-content: center;
        align-items: center;

    }
    .crd{
        padding: 36px 28px;
        width: 305px;
    }
    .ar{
        display: none;
    }
    .sis{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .s-1{
        display: none;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .f-t{
        margin: 16px;
        margin-top: 65px;
    }
    .f-endt, .f-c{
        margin: 16px;
    }
}



/* responsive for medium size */
@media screen and (min-width:577px) and (max-width:992px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-c{
        text-align: center;
        margin: 120px;
    }
    .ar{
        display: none;
    }
    .crds, .h1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto  16.5px ;
        justify-content: center;
        align-items: center;

    }
    .crd{
        padding: 36px 28px;
        width: 305px;
    }
    .sis{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .s-1{
        display: none;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    .f-t{
        margin: 65px 16px;
        text-align: center;
        font-size: 20px;
    }
    
    .f-endt, .f-c{
        margin: 20px 16px;
    }
    .f-l{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}